.courseItem {
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.2));
    cursor: pointer;
}

.coursePercent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coursePercent span {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 32px;
}


.courseItem img {
    display: block;
    height: 110px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    filter: brightness(65%);
}

.courseProgress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 8px 12px;
    border-radius: 0px 0px 10px 10px;
}

.progressGreen {
    background-color: var(--success-color);
}

.progressOrange {
    background-color: #CC7A00;
}

.progressGray {
    background-color: #666666;
}