.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.2s all;
    pointer-events: none;
}

.modal h2 {
    margin-left: 9px;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    width: 80vw;
    padding: 12px;
    border-radius: 16px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.2s all;
}

.modalContent.active{
    transform: scale(1);
}